*, *:before, *:after {
    box-sizing: border-box;
  }
  :root{
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --btn-gradient: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  --menu-background-gradient: linear-gradient(var(--Dark-Blue), hsla(0, 0%, 100%, 0)); 
  --btn-hover-gradient: linear-gradient(to right, hsl(136, 67%, 71%), hsl(192, 64%, 73%));
  }
    body {
    margin: 0px;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
  }
  .header, .middle, .intro-info, .articles{
    padding: 0vh 6vw;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    position: relative; 
    z-index: 100;
    background-color: white;
  }
  .header-menu{
    position: fixed;
    top: 11vh;
    left: 0vw;
    width: 100%;
    height: 85vh;
    background-image: var(--menu-background-gradient);
    display: none;
  }
  .header-menu-inner{
    margin: 4vh 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 42vh;
    width: 88vw;
    border-radius: 2vw;
    color: var(--Dark-Blue);
    background-color: var(--White);
  }
  .menu-icon{
    cursor: pointer;
    color: var(--Dark-Blue);
  }
  .close-icon{
    display: none;
  }
  .header-btn{
      display: none;
  }
  .background-images{
    position: relative;
    height: 39vh;
  }
  .design-image-mobile{
    position: absolute;
    bottom: -12vh;
    right: 0vh;
    z-index: 1;
  }
  .design-image-desktop{
      display: none;
  }
  .phones-image{
    position: absolute;
    width: 100vw;
    padding: 0vh 4vw;
    bottom: -3vh;
    right: 0vh;
    z-index: 2;
  }
  .intro-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh 0vw;
    padding-top: 6vh;
    padding-bottom: 11vh;
  }
  .intro-title{
    font-size: 40px;
    color: var(--Dark-Blue);
    text-align: center;
    line-height: 48px;
  }
  .intro-detail{
    font-size: 15px;
    color: var(--Grayish-Blue);
    text-align: center;
    line-height: 25px;
  }
  .invite-btn{
    padding: 12px 33px;
    background-image: var(--btn-gradient);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: var(--White);
    border: none;
    border-radius: 25px;
    text-align: center;
  }
  .middle{
    background-color: var(--Light-Grayish-Blue);
  }
  .middle-info{
    text-align: center;
    padding: 10vh 0vw 10vh 0vw;
  }
  .middle-info-title{
    font-size: 34px;
    color: var(--Dark-Blue);
    margin-bottom: 3vh;
  }
  .middle-info-detail{
    font-size: 15px;
    color: var(--Grayish-Blue);
    line-height: 25px;
  }
  .middle-info-detail-desktop{
    display: none;
  }
  .middle-features{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 4vh;
  }
  .middle-features-element{
      margin-bottom: 5vh;
  }
  .middle-features-element-title{
    font-size: 25px;
    color: var(--Dark-Blue);
    margin: 4vh 0vw;
  }
  .middle-features-element-detail{
    font-size: 15px;
    color: var(--Grayish-Blue);
    line-height: 25px;
  }
  .articles{
      text-align: center;
      background-color: var(--Very-Light-Gray);
      padding-bottom: 10vh;
  }
  .articles-heading{
    font-size: 34px;
    color: var(--Dark-Blue);
    padding: 14vh 0vw 6vh 0vw;
  }
  .article{
    background-color: var(--White);
    margin-bottom: 6vw;
  }
  .article-image{
      width: 100%;
      height: 30vh;
      object-fit: cover;
      border-radius: 0.8vh 0.8vh 0vh 0vh;
  }
  .article-author{
    font-size: 10px;
    color: var(--Grayish-Blue);
    margin-top: 4vh;
  }
  .article-title{
    font-size: 17px;
    color: var(--Dark-Blue);
    margin: 1.9vh 0vw;
  }
  .article-detail{
    font-size: 14px;
    color: var(--Grayish-Blue);
    line-height: 20px;
    padding-bottom: 7vh;
  }
  .article-author, .article-title, .article-detail{
      text-align: left;
      margin-left: 8vw;
      margin-right: 3vw;
  }
  .footer{
      background-color: var(--Dark-Blue);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5vh 0vw;
      padding: 5vh 6vw 8vh 6vw;
  }
  .social-media-icons-container{
      display: flex;
      flex-direction: row;
      gap: 0vh 4vw;
      margin-top: 5vh;
  }
  .footer-menu{
      color: var(--Light-Grayish-Blue);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.7vh 0vw;
  }
  .footer-menu-element{
      font-size: 15px;
  }
  .footer-last-cloumn{
      text-align: center;
  }
  .copyright{
      margin-top: 5vh;
      font-size: 15px;
      color: var(--Grayish-Blue);
  }

  @media (min-width: 1440px){
    .header{
        height: auto;
        padding: 0vh 12vw;
    }
    .header-menu{
        display: block;
        position: static;
        width: auto;
        height: 100%;
        background-image: none;
    }
    .header-menu-inner{
        flex-direction: row;
        justify-content: space-between;
        gap: 0vh 2vw;
        margin: 0vh;
        height: 100%;
        width: auto;
        border-radius: 0vh;
        color: var(--Grayish-Blue);
        font-size: 15px;
    }
    .header-menu-element{
        padding: 5vh 0vw;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
    }
    .header-menu-element:hover{
        cursor: pointer;
        border-image: var(--btn-gradient) 30% stretch;
    }
    .menu-icon{
        display: none;
    }
    .header-btn{
        display: inline-block;
    }
    .invite-btn:hover{
        background-image: var(--btn-hover-gradient);    
    }
    .intro{
        padding: 30vh 12vw;
        background-color: var(--Very-Light-Gray);
        position: relative;
    }
    .background-images{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0vw;
        top: 0vh;
        overflow: hidden;
    }
    .design-image-mobile{
        display: none;
    }
    .design-image-desktop{
        position: absolute;
        display: inline-block;
        left: 40vw;
        bottom: -13vh;
        z-index: 1;
    }
    .phones-image{
        width: auto;
        left: 56vw;
        bottom: -28vh;
        padding: 0vh;
        z-index: 3;
      }
    .intro-info{
        width: 29vw;
        height: auto;
        padding: 0vh;
        align-items: flex-start;
        gap: 6vh 0vw;
    }
    .intro-title{
        font-size: 55px;
        line-height: 65px;
        text-align: left;
        z-index: 5;
    }
    .intro-detail{
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        z-index: 5;
    }
    .intro-btn{
        z-index: 5;
    }
    .middle{
        padding: 18vh 12vw 17vh 12vw;  
        z-index: 2;
    }
    .middle-info{
        text-align: left;
        padding: 0vh;
        margin-bottom: 13vh;
    }
    .middle-info-title{
        font-size: 40px;
        margin-bottom: 5vh;
    }
    .middle-info-detail{
        font-size: 20px;
        line-height: 28px;
    }
    .middle-info-detail-desktop{
      display: block;
    }
    .middle-info-detail-mobile{
      display: none;
    }
    .middle-features{
        flex-direction: row;
        gap: 0vh 2vw;
        padding: 0vh;
    }
    .middle-features-element{
        text-align: left;
        margin-bottom: 0vh;
    }
    .middle-features-element-title{
      font-size: 24px;
      margin: 6vh 0vw 4vh 0vw;
    }
    .middle-features-element-detail{
      font-size: 17px;
    }
    .articles{
        padding: 15vh 12vw;
    }
    .articles-heading{
      font-size: 40px;
      text-align: left;
      padding: 0vh;
    }
    .articles-container{
        margin-top: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0vh 2vw;
    }
    .article{
      margin: 0vh;
    }
    .article-title{
      line-height: 20px;
    }
    .article-title:hover{
        cursor: pointer;
        color: var(--Bright-Cyan);
      }
    .article-detail{
      font-size: 13px;
      line-height: 19px;
      padding-bottom: 4vh;
    }
    .article-author, .article-title, .article-detail{
        margin-left: 1.8vw;
        margin-right: 1vw;
    }
    .footer{
        position: relative;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        height: 28vh;
        gap: 5vh 8vw;
        padding: 7vh 12vw 7vh 12vw;
    }
    .social-media-icons-container{
        gap: 0vh 1vw;
        margin-top: 0vh;
    }
    .social-media-icon:hover{
        cursor: pointer;
    }
    .footer-first-cloumn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }
    .footer-menu{ 
        flex-wrap: wrap;
        justify-content: space-around;
        height: 14vh;
        align-items: flex-start;
        gap: 3vh 9vw;
    }
    .footer-menu-element:hover{
        cursor: pointer;
        color: var(--Lime-Green);
    }
    .footer-last-cloumn{
        position: absolute;
        top: 7vh;
        right: 12vw;
        height: 16vh;
        text-align: right;
    }
  }